---
const pages = {
    home: {
        url: "/",
        title: "Home",
    },
    about: {
        url: "/about",
        title: "About",
    },
    contact: {
        url: "/contact",
        title: "Contact",
    },
};
const requestPathname = Astro.url.pathname;
---

<nav class="nav" aria-label="Navigation">
    {
        Object.values(pages).map((entry) => {
            const className = requestPathname === entry.url && "active";
            return (
                <a class={className} href={entry.url}>
                    {entry.title}
                </a>
            );
        })
    }
</nav>
